// Background Colors
$backgroundColorLight: #ffffff;
$backgroundColorDark: #141414;

// Font Colors
$fontColorLight: #000000;
$fontColorDark: #ffffff;


// Light Theme (Default)
:root {
  --backgroundColor_0: #{$backgroundColorLight};
  --backgroundColor_1: #{darken($backgroundColorLight, 5%)};
  --backgroundColor_2: #{darken($backgroundColorLight, 10%)};
  --backgroundColor_3: #{darken($backgroundColorLight, 15%)};

  --fontColor: #{$fontColorLight};
}

// Dark Theme
@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor_0: #{$backgroundColorDark};
    --backgroundColor_1: #{lighten($backgroundColorDark, 5%)};
    --backgroundColor_2: #{lighten($backgroundColorDark, 10%)};
    --backgroundColor_3: #{lighten($backgroundColorDark, 15%)};

    --fontColor: #{$fontColorDark};
  }
}
