*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 200vh; // TESTING
}

h1 {
  font-size: $space_xxl;
  font-weight: 400;
  line-height: $lineHeight_h;
  margin: 0;
  margin-bottom: $space_s;
}

h2 {
  font-size: $space_xl;
  font-weight: 400;
  line-height: $lineHeight_h;
  margin: 0;
  margin-bottom: $space_xs;
}

h3 {
  font-size: $space_l;
  font-weight: 400;
  line-height: $lineHeight_h;
  margin: 0;
  margin-bottom: $space_xxs;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
