body {
  margin: 0;
}

// LEG
.card {
  background-color: var(--backgroundColor1);
  width: fit-content;
  padding: $space-xl;
  padding-top: calc($space-xl / $line-height-h);
  border-radius: 26px;
}
//

h1 {
  font-size: $space-xxl;
  font-weight: 400;
  line-height: $line-height-h;
  margin: 0;
  margin-bottom: $space-s;
}

h2 {
  font-size: $space-xl;
  font-weight: 400;
  line-height: $line-height-h;
  margin: 0;
  margin-bottom: $space-xs;
}

h3 {
  font-size: $space-l;
  font-weight: 400;
  line-height: $line-height-h;
  margin: 0;
  margin-bottom: $space-xxs;
}
