$lineHeight_p: 1.5;
$lineHeight_h: 1.3;

$space_xxs: 0.38em;
$space_xs: 0.62em;
$space_s: 0.79em;
$space_m: 1em;
$space_l: 1.27em;
$space_xl: 1.62em;
$space_xxl: 2.62em;

:root {
  --lineHeight_p: #{$lineHeight_p};
  --lineHeight_h: #{$lineHeight_h};

  --space_xxs: #{$space_xxs};
  --space_xs: #{$space_xs};
  --space_s: #{$space_s};
  --space_m: #{$space_m};
  --space_l: #{$space_l};
  --space_xl: #{$space_xl};
  --space_xxl: #{$space_xxl};
}
